@model IEnumerable<Car_reservation_system.Models.CarModelDto>


<h1 class="text-center">Wypożyczalnia aut</h1>

<div class="row pb-3">
    @foreach(var cars in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card">
                        <img src="@cars.ImageUrl" class="card-img-top" height="220"/>

                       <div class="card-body">
                           <div class="text-black" style="text-align:center; font-size:20px;">
                                <p><b>@cars.Make @cars.Model</b></p>
                           </div>
                            <table style="width:100%">
                                <tr>
                                    <td> <i class="bi bi-fire"></i>&nbsp;  Pojemność silnika</td>
                                    <td><b>@cars.Engine</b></td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-lightning-fill"></i> &nbsp; Konie mechaniczne</td>
                                    <td><b>@cars.Horsepower</b></td>
                                </tr>
                                <tr>
                                    <td><i class="bi bi-stopwatch-fill"></i> &nbsp; 0-100 km/h</td>
                                    <td><b> 10 s</b></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <a asp-controller="Cars" asp-action="Details" asp-route-id="@cars.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-info form-control">Szczegóły</a>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    }


</div>


